<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<h2 style="padding-top: 50px;">This is Assignment 5!!</h2>
		<p>Let me know if I am going to update the code to assignment 5! Thanks fafafaf</p>



		<br>
		<br>

		<br>

		<br>


		<h2 style="padding-top: 50px;">Welcome to my website!</h2>
		<p>I will be demonstrating HTML5 principles and techniques, as well as showcasing Routing in Express. 
			simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
			 when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
			  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<h3>Introduction to the Website</h3>
		<p>This site consists of three static views. Home, About, and HTML Demo pages and routes.To access these pages,
			  you can click on the following links:
			   <a href="/">Home</a>, 
			   <a href="/about">About</a>, 
			   <a href="/htmlDemo">HTML Demo</a>, 
			   <a href="/students">All Students</a>, 
			   <a href="/students?course=3">Students by Course</a>, 
			   <a href="/student/2">A Single Student By Student Number</a>, 
			   <a href="/tas">All TAs</a>, and 
			   <a href="/courses">All Courses</a>. 
			Feel free to navigate through the website and explore the wealth of information it has to offer.</p>
		<h3>Introduction to HTML5</h3>
		<p>s simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
			It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<!-- End your code here  -->

	</main>
</div>