<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="">Vincent</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item active"><a class="nav-link" href="/students/add">Add Student</a></li>

				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<!-- Table Section -->
					<h2>Table Section</h2>
					<div class="containerX table">
						<div>
							<p>this table is colspan</p>
							<table class="table">
								<caption>Table 1</caption>
								<thead>
								  <tr>
									<th colspan="1">Month</th>
									<th colspan="2">Savings</th>
								  </tr>
								</thead>
								<tbody>
								  <tr>
									<td>January</td>
									<td>$100</td>
									<td>$200</td>
								  </tr>
								  <tr>
									<td>February</td>
									<td>$80</td>
									<td>$90</td>
								  </tr>
								</tbody>
								<tfoot>
								  <tr>
									<td>Sum</td>
									<td>$180</td>
									<td>$20</td>
								  </tr>
								  
								</tfoot>
							  </table>
						</div>
					<div>
						<p>this table is rowspan</p>
						<table class="table">
							<caption>Table 2</caption>
							<thead>
							  <tr>
								<th>Month</th>
								<th colspan="4">Savings</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td rowspan="2">January</td>
								<td>$100</td>
								<td>$200</td>
								<td>$100</td>
								<td>$200</td>
							  </tr>
							  <tr>
	
								<td>$100</td>
								<td>$100</td>
								<td>$200</td>
								<td>$100</td>
							  </tr>
							  <tr>
								<td rowspan="2">February</td>
								<td>$100</td>
								<td>$100</td>
	
								<td>$100</td>
								<td>$200</td>
							  </tr>
							  <tr>
								<td>$100</td>
								<td>$100</td>
								<td>$200</td>
								<td>$100</td>
							  </tr>
							  
							</tbody>
							<tfoot>
							  <tr>
								<td>Sum</td>
								<td colspan="4">$22340</td>
							  </tr>
							  
							</tfoot>
						  </table>						
					</div>			
					</div>			
					<!-- End table section -->

					<!-- List Section -->
					<h2 style="padding-top: 50px;">List Section</h2>
					<div class="containerX list">
						<div class="div1">
							<ul>
							  <li>Water</li>
							  <li>Tea</li>
							  <li>Milk</li>
							  <li>Coffee</li>
							  <li>Nestea</li>
							  <li>Coke</li>
							  <li>Sprite</li>
							</ul>  
							<p>An unordered HTML list</p>
						</div>
						<div class="div2">
							<ol>
								<li>Water</li>
							  <li>Tea</li>
							  <li>Milk</li>
							  <li>Coffee</li>
							  <li>Nestea</li>
							  <li>Coke</li>
							  <li>Sprite</li>							  
							  </ol>  
							<p>An ordered HTML list</p>
						</div>
					</div>
					<!-- End List Section -->

						<!-- Image Section -->
						<h2>Image Section</h2>
						<div class="containerX img">
							<div class="div1">								  
								<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Girl in a jacket">
								<p>Image 1</p>
							</div>
							<div class="div2">
								<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Girl in a jacket">
								<p>Image 2</p>
							</div>
							<div class="div3">
								<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Girl in a jacket">
								<p>Image 3</p>
							</div>
						
						</div>
						<!-- End Image Section -->					
						<!-- Audio Section -->
						<h2>Audio Section</h2>
						<div class="containerX img">
							<audio controls="">
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
								Your browser does not support the audio element.
							  </audio>
							  <p>This section contains an HTML5 audio player. You can listen to the audio by using the controls provided. The audio content in this section is a sample audio file.</p>
						</div>
						<!-- End Audio Section -->
						<!-- Audio Section -->
						<h2>VIdeo Section</h2>
						<div class="containerX vid">
								<div>
								  <video controls>
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
									<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm" type="video/webm">
									Your browser does not support the video tag.
								  </video>
								</div>
								<p>This video showcases a sample content. Sit back, relax, and enjoy!</p>
						</div>
						<!-- End VIdeo Section -->
					<!-- End your code here  -->
    			</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>